In [ ]:
Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [3]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')
ratings.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [18]:
def class_(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    elif rating <= 4:
        return 'средний рейтинг'
    elif rating >= 4.5 and rating <= 5.0:
        return 'высокий рейтинг'

In [21]:
ratings['class'] = ratings['rating'].apply(class_)
ratings[['movieId', 'rating', 'class']].sample(6)

       movieId  rating            class
68468     7153     5.0  высокий рейтинг
99473    32587     5.0  высокий рейтинг
30045      435     1.5   низкий рейтинг
12618    42738     4.5  высокий рейтинг
49572    71057     4.0  средний рейтинг
29707     3068     4.0  средний рейтинг

In [ ]:
Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который КАЖДОЙ СТРОКЕ сможет выставить
географическую принадлежность определенному региону. 
Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. 
Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [4]:
df = pd.read_csv('keywords.csv')
df.sample(5)

                                                 keyword  shows
23240                томас и его друзья все серии подряд  13600
41517                                     полный контакт   8121
81895  хундай солярис новый 2016 комплектации и цены ...   4594
18723                               гражданский брак тнт  23594
36465                                     dbkl вилдберис   9133

In [6]:
df = df[(df['keyword'] == 'петербург')]
df.head()

         keyword  shows
20823  петербург  14859

In [5]:
len(df)

100000

In [ ]:
def geo_data():